In [ ]:
from bs4 import BeautifulSoup
import requests
import re
from pprint import pprint
import pandas as pd
import numpy as np
import urllib.request

In [ ]:
scriptdf=pd.read_csv('/content/drive/MyDrive/DSI_capstone/scriptdf',index_col='Title')

In [ ]:
scriptdf.drop(columns='Unnamed: 0',inplace =True)

In [ ]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds, _ = default()

gc = gspread.authorize(creds)

worksheet = gc.open('movies').sheet1

rows = worksheet.get_all_values()

movies = pd.DataFrame.from_records(rows,)

In [ ]:
movies.columns = movies.iloc[0]

In [ ]:
movies=movies.drop(0)

In [ ]:
movies.describe()

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description
count,207,207,207,207,207,207,207,207
unique,207,76,12,162,207,207,128,207
top,The Shawshank Redemption,1995,8.1,1.1M,66,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",Stanley Kubrick,Two imprisoned men bond over a number of years...
freq,1,7,47,10,1,1,7,1

In [ ]:
scriptdf

                                                                         link
Title
10 Things I Hate About You  https://imsdb.com/scripts/10-Things-I-Hate-Abo...
12                                          https://imsdb.com/scripts/12.html
12 and Holding                  https://imsdb.com/scripts/12-and-Holding.html
12 Monkeys                          https://imsdb.com/scripts/12-Monkeys.html
12 Years a Slave              https://imsdb.com/scripts/12-Years-a-Slave.html

In [ ]:
result = pd.merge(movies, scriptdf, how="left", on=["Title"])

In [ ]:
result.describe()

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description,link
count,207,207,207,207,207,207,207,207,78
unique,207,76,12,162,207,207,128,207,78
top,The Shawshank Redemption,1995,8.1,1.1M,66,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'...",Stanley Kubrick,Two imprisoned men bond over a number of years...,https://imsdb.com/scripts/Schindler's-List.html
freq,1,7,47,10,1,1,7,1,1

In [ ]:
result.dropna(inplace=True)

In [ ]:
movielinks=result.sort_values('Rating',ascending=False)

In [ ]:
movielinks.link

5        https://imsdb.com/scripts/Schindler's-List.html
7            https://imsdb.com/scripts/Pulp-Fiction.html
10           https://imsdb.com/scripts/Forrest-Gump.html
11             https://imsdb.com/scripts/Fight-Club.html
12              https://imsdb.com/scripts/Inception.html
                             ...
167    https://imsdb.com/scripts/Catch-Me-If-You-Can....
163                 https://imsdb.com/scripts/Fargo.html
162           https://imsdb.com/scripts/Gran-Torino.html
160         https://imsdb.com/scripts/Trainspotting.html
205         https://imsdb.com/scripts/Groundhog-Day.html
Name: link, Length: 78, dtype: object

In [ ]:
movielinks['script']=np.nan

In [ ]:
movielinks.head()

,Title,Year of Release,Rating,Number of Reviews,Popularity Index,Movie Cast,Director,Description,link,script
5,Schindler's List,1993,9,1.3M,245,"['Liam Neeson', 'Ralph Fiennes', 'Ben Kingsley...",Steven Spielberg,"In German-occupied Poland during World War II,...",https://imsdb.com/scripts/Schindler's-List.html,NaN
7,Pulp Fiction,1994,8.9,2M,128,"['John Travolta', 'Uma Thurman', 'Samuel L. Ja...",Quentin Tarantino,"The lives of two mob hitmen, a boxer, a gangst...",https://imsdb.com/scripts/Pulp-Fiction.html,NaN
10,Forrest Gump,1994,8.8,2M,103,"['Tom Hanks', 'Robin Wright', 'Gary Sinise', '...",Robert Zemeckis,"The presidencies of Kennedy and Johnson, the V...",https://imsdb.com/scripts/Forrest-Gump.html,NaN
11,Fight Club,1999,8.8,2.1M,177,"['Brad Pitt', 'Edward Norton', 'Meat Loaf', 'Z...",David Fincher,An insomniac office worker and a devil-may-car...,https://imsdb.com/scripts/Fight-Club.html,NaN
12,Inception,2010,8.8,2.3M,90,"['Leonardo DiCaprio', 'Joseph Gordon-Levitt', ...",Christopher Nolan,A thief who steals corporate secrets through t...,https://imsdb.com/scripts/Inception.html,NaN

In [ ]:
for x in movielinks.link:
  url = x
  page = requests.get(url)
  soup = BeautifulSoup(page.content, "html.parser")
  results=soup.get_text()
  movielinks.script= results

In [ ]:
movielinks.to_csv('/content/drive/MyDrive/DSI_capstone/scripttext')